@import '../../styles/helpers.scss';

.container {
  max-width: 360px;
  padding-inline: var(--gutter);
  margin: 40px auto;

  @include breakpoint(SM) {
    max-width: $BP_SM;
  }

  @include breakpoint(MD) {
    max-width: $BP_MD;
  }

  @include breakpoint(LG) {
    max-width: $MAX_WIDTH_NARROW;
  }
}
.title {
  text-align: center;
  text-transform: uppercase;
  color: $WHITE;
}
.timeButtonContainer {
  display: flex;
  justify-content: space-evenly;
}
