@import '../../../styles/helpers.scss';

.wrapper {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  @include breakpoint(SM) {
    margin: 40px 0;
  }
}

.container {
  display: inline-grid;
  gap: 20px;
  justify-items: center;
  @include breakpoint(SM) {
    grid-template-columns: auto auto;
  }
}

.title {
  color: $CYAN;
  text-transform: uppercase;
  text-align: center;
  grid-row: 2;
  @include breakpoint(SM) {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
  }
}

.imageContainer {
  max-width: 125px;

  @include breakpoint(SM) {
    max-width: 150px;
  }
}

.imageContainer img {
  border-radius: 50%;
  border: 5px solid $CONTRAST_TO_GREY !important;
  width: 100%;
  height: auto;
}
