$WHITE: #ffffff;
$CYAN: #00ffee; //primary
$CYAN_2: #00aa9f;
$CYAN_3: #00554f;
$ORANGE: #ff8800; //secondary
$BLUE_CONTRAST_TO_ORANGE: #0077ff;
$BLUE: #2200ff;
$RED: #ff0011; //contrast to primary

$PURPLE: #ee00ff;
$VIOLET: #6e00ff;
$YELLOW: #ffee00;

$GREY_1: #1e2022;
$GREY_2: #697077;
$GREY_3: #b4c0cc;
$CONTRAST_TO_GREY: #22221e;
$ARROW_ICON_ORANGE_BUTTON: #fcd888;

$FONT_WEIGHT_BOLD: 700;
$FONT_WEIGHT_REGULAR: 400;

// Breakpoints
$BP_SM: 480px;
$BP_MD: 768px;
$BP_LG: 1024px;
$BP_XL: 1200px;

// Measurements
$MAX_WIDTH: 1500px;
$MAX_WIDTH_CONTENT: 1200px;
$MAX_WIDTH_NARROW: 900px;

$BASE_FONT_SIZE: 16;
$Z_INDEX_HEADER: 2;
$Z_INDEX_MODAL: 3;

//analogous to cyan, to use when no contrast is needed:
//blue: #0091FF
//green: #00FF6E
//analogous to orange, to use when no contrast is needed:
//yellow: #F6FF00
//red: #FF0800
