@import '../../styles/helpers.scss';

.container {
  margin-bottom: 40px;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin: 0 0 20px 0;
}
.title:hover {
  color: $CYAN_2;
}

.preview {
  margin-bottom: 20px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.date {
  font-style: italic;
  color: $CYAN_2;
}

.titleUnderline {
  width: auto;
  height: 2px;
  border-radius: 6px;
  background-color: $CYAN_3;
}
.tagList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.tag {
  color: $CYAN;
  font-family: var(--font-ubuntu-mono);
  &::before {
    content: '#';
  }
  margin-left: 20px;
}
.tag:hover {
  color: $ORANGE;
}
