@import '../../styles/helpers.scss';

.container {
  background-color: black;
  padding: 5px var(--gutter);
  background-color: black;
  width: 100%;
  box-shadow: 0 0 8px 0 black;
}

.navLinks {
  display: flex;
  justify-content: center;

  > * + * {
    &::before {
      content: '\b7';
    }
  }

  @include breakpoint(SM) {
    > * + * {
      &::before {
        content: '\a0\b7\a0';
      }
    }
  }

  @include breakpoint(LG) {
    > * + * {
      &::before {
        content: '\a0\a0\a0\b7\a0\a0\a0';
      }
    }
  }
}

.navItem {
  &:first-child {
    text-transform: uppercase;
    color: $WHITE;
    font-weight: $FONT_WEIGHT_REGULAR;

    @include breakpoint(MD) {
      font-weight: $FONT_WEIGHT_BOLD;
    }
  }
}
.navItem:hover {
  color: $CYAN_2;
}

.navItemActive {
  &:first-child {
    text-transform: uppercase;
    color: $CYAN_2;
    font-weight: $FONT_WEIGHT_REGULAR;

    @include breakpoint(MD) {
      font-weight: $FONT_WEIGHT_BOLD;
    }
  }
}
