@import '../../styles/helpers.scss';

.container {
  box-shadow: 0 0 8px 0 black;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex: 1;
  padding: 10px var(--gutter);
  justify-content: center;
  background-color: black;

  @include breakpoint(MD) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.copyright {
  color: $CYAN;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-ubuntu-mono);
}

.socialLinks {
  margin-bottom: 10px;

  > * {
    margin-right: 10px;
  }

  @include breakpoint(MD) {
    margin-bottom: 0;
  }
}
