@import '../helpers.scss';

.container {
  max-width: 360px;
  padding-inline: var(--gutter);
  margin: 40px auto;

  @include breakpoint(SM) {
    max-width: $BP_SM;
  }

  @include breakpoint(MD) {
    max-width: $BP_MD;
  }

  @include breakpoint(LG) {
    max-width: $MAX_WIDTH_NARROW;
    padding-inline: 0;
  }
}

.titleUnderline {
  width: auto;
  height: 2px;
  border-radius: 6px;
  background-color: $CYAN_3;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 20px;
}
.dateTitleContainer {
  display: flex;
  justify-content: space-between;
}
.tagList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.tag {
  color: $CYAN;
  font-family: var(--font-ubuntu-mono);
  &::before {
    content: '#';
  }
  margin-left: 20px;
}
.tag:hover {
  color: $ORANGE;
}
.date {
  color: $CYAN_2;
  margin-bottom: 20px;
}
.imageContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.imageContainer > img {
  border-radius: 10px;
  border: 5px solid $CONTRAST_TO_GREY !important;
  width: 100%;
  height: auto;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
