@import '../helpers.scss';

.container {
  max-width: 360px;

  margin: 0 auto;
  @include breakpoint(SM) {
    max-width: $BP_SM;
  }

  @include breakpoint(MD) {
    max-width: $BP_MD;
  }

  @include breakpoint(LG) {
    max-width: $BP_LG;
  }
}
.instructions {
  margin: 40px auto 30px;
  text-align: center;
}
.tagList {
  padding-inline: var(--gutter);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
.tag {
  color: $CYAN;
  font-family: var(--font-ubuntu-mono);
  white-space: nowrap;
  border: 2px solid $CYAN_3;
  border-radius: 8px;
  padding: 10px;
  > span {
    transition: color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in;
  }
}
.tag:hover {
  color: $ORANGE;
  border: 1px solid $ORANGE;
  > span {
    color: $ORANGE;
    transition: color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in;
  }
}
.tagCount {
  color: $CYAN_2;
}
