@import '../../styles/helpers.scss';

.button {
  @include fontSize(18);
  padding: 8px 15px;

  @include breakpoint(SM) {
    padding: 15px 22px;
    @include fontSize(20);
  }

  border-radius: 25px 25px;
  color: $CYAN;
  display: inline-block;
  font-weight: $FONT_WEIGHT_REGULAR;
  line-height: 24 / 20;
  text-align: center;
  transition:
    color 300ms cubic-bezier(0.32, 0, 0.67, 0),
    background-color 300ms cubic-bezier(0.32, 0, 0.67, 0);

  &:hover {
    color: darken($CYAN, 5%);
  }

  &:active {
    color: darken($CYAN, 10%);
  }

  &:hover,
  &:active {
    transition:
      color 300ms cubic-bezier(0.33, 1, 0.68, 1),
      background-color 300ms cubic-bezier(0.33, 1, 0.68, 1);
  }
}

.transparentButton {
  padding: 18px 0;
}
.inactiveButton {
  color: $CYAN;
  border: 3px solid $CYAN;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: darken($CYAN, 5%);
    color: $WHITE;
  }

  &:active {
    background-color: darken($CYAN, 10%);
    color: $WHITE;
  }
}
.activeButton {
  background-color: $CYAN;
  color: $GREY_1;
  border: 4px solid $CYAN;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: lighten($CYAN, 10%);
    color: $WHITE;
  }

  &:active {
    background-color: darken($CYAN, 10%);
    color: $GREY_1;
  }
}

.warmButton {
  background-color: $ORANGE;
  color: $WHITE;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: darken($ORANGE, 5%);
    color: $WHITE;
  }

  &:active {
    background-color: darken($ORANGE, 10%);
    color: $WHITE;
  }
}

.orangeButton {
  background: $ORANGE;
  color: $WHITE;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: darken($ORANGE, 5%);
    color: $WHITE;
  }

  &:active {
    background-color: darken($ORANGE, 10%);
    color: $WHITE;
  }
}

.arrow {
  margin-right: 4px;
  width: 14px;
  height: 14px;
}
.icon {
  margin-left: 4px;
  width: 14px;
  height: 14px;
}

.button {
  .arrow {
    display: inline-block;
    margin-right: 12px;
    transform: translateX(0px);
    transition: transform 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &:hover,
  &:focus-within {
    .arrow {
      transform: translateX(6px);
    }
  }
}
.inactiveIcon {
  margin-left: 12px;
  display: inline-block;
  fill: $CYAN;
}
.activeIcon {
  margin-left: 12px;
  display: inline-block;
  fill: $GREY_1;
}

.whiteArrow {
  fill: $GREY_1;
}

.lightOrangeArrow {
  fill: $ARROW_ICON_ORANGE_BUTTON;
}

.cyanArrow {
  fill: $CYAN;
}

.blueArrow {
  fill: $BLUE;
}

.orangeArrow {
  fill: $ORANGE;
}

.yellowArrow {
  fill: $RED;
}

.whiteButton {
  background: $GREY_3;
  color: $GREY_1;
  text-shadow: none;

  &:hover {
    background-color: darken($GREY_3, 5%);
    color: black;
  }

  &:active {
    background-color: darken($GREY_3, 10%);
    color: black;
  }
}

.blueButton {
  background-color: $BLUE;
  color: $WHITE;

  &:hover {
    background-color: darken($BLUE, 5%);
    color: $WHITE;
  }

  &:active {
    background-color: darken($BLUE, 10%);
    color: $WHITE;
  }
}

.button:disabled {
  cursor: default;
  filter: grayscale(100%);
}
