@import '../../styles/helpers.scss';

.container {
  max-width: 360px;
  padding-inline: var(--gutter);
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include breakpoint(SM) {
    max-width: $BP_SM;
  }

  @include breakpoint(MD) {
    max-width: $BP_MD;
  }

  @include breakpoint(LG) {
    max-width: $MAX_WIDTH_NARROW;
  }
}

.buttonContainer {
  margin: 0 auto;
}

.noMoreBlogs {
  color: $CYAN;
  text-align: center;
  font-family: var(--font-ubuntu-mono);
  @include fontSize(24);
}
