@import '../../styles/helpers.scss';

.title {
  margin: 20px auto 10px;
  text-align: center;
  text-transform: uppercase;
}

.projectsContainer {
  max-width: 360px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(SM) {
    max-width: $BP_SM;
  }

  @include breakpoint(MD) {
    max-width: $BP_MD;
  }

  @include breakpoint(LG) {
    max-width: $MAX_WIDTH_NARROW;
    padding-inline: 0;
  }
}

.imageContainer > * {
  border-radius: 10px;
}
