@import '../helpers.scss';

@mixin heading {
  font-weight: $FONT_WEIGHT_BOLD;
  color: $CYAN;
  letter-spacing: -0.01em;
}

.heading1 {
  @include heading;
  @include fontSize(32);
  line-height: (102 / 84);
  color: $WHITE;

  @include breakpoint(SM) {
    @include fontSize(40);
  }

  @include breakpoint(MD) {
    @include fontSize(48);
  }

  @include breakpoint(LG) {
    @include fontSize(64);
  }
}

.heading2 {
  @include heading;
  @include fontSize(24);
  line-height: (58 / 48);

  @include breakpoint(MD) {
    @include fontSize(32);
  }

  @include breakpoint(LG) {
    @include fontSize(48);
  }
}

.heading3 {
  @include heading;
  @include fontSize(18);
  line-height: (44 / 36);

  @include breakpoint(MD) {
    @include fontSize(22);
  }

  @include breakpoint(LG) {
    @include fontSize(28);
  }
}

.blogPreview {
  @include heading;
  @include fontSize(24);
  line-height: (58 / 48);
  font-family: var(--font-ubuntu-mono);
  font-weight: $FONT_WEIGHT_BOLD;

  @include breakpoint(SM) {
    @include fontSize(28);
  }

  @include breakpoint(MD) {
    @include fontSize(30);
  }

  @include breakpoint(LG) {
    @include fontSize(32);
  }

  @include breakpoint(XL) {
    @include fontSize(34);
  }
}
